{% extends 'base.html.twig' %}

{% block body %}
<section class="nous2"></section>

{# <a href="{{path('categorie')}}"><img src="{{asset("img/logo-nous.jpg")}}" alt="logo-nous"></a> #}
<h1 class='nous'>A propos de nous</h1>
<br>
<p>Lorem ipsum dolor, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dicta illum aliquid at pariatur hic consectetur, repudiandae officia labore, rem quidem. A sed possimus, velit nemo perferendis tempora inventore ratione!
Ea saepe recusandae minusLorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dicta illum aliquid at pariatur hic consectetur, repudiandae officia labore, rem quidem. A sed possimus, velit nemo perferendis tempora inventore ratione!
Ea saepe recusandae minusLorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dicta illum aliquid at pariatur hic consectetur, repudiandae officia labore, rem quidem. A sed possimus, velit nemo perferendis tempora inventore ratione!
Ea saepe recusandae minusLorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dicta illum aliquid at pariatur hic consectetur, repudiandae officia labore, rem quidem. A sed possimus, velit nemo perferendis tempora inventore ratione!
Ea saepe recusandae minussit amet consectetur adipisicing elit. Iusto laudantium quisquam reprehenderit ad exercitationem expedita animi. Magni vitae, ratione tenetur repellat pariatur dolore, fugit iste molestiae veniam architecto, tempora repudiandae.</p>
<br>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dicta illum aliquid at pariatur hic consectetur, repudiandae officia labore, rem quidem. A sed possimus, velit nemo perferendis tempora inventore ratione!
Ea saepe recuLorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dicta illum aliquid at pariatur hic consectetur, repudiandae officia labore, rem quidem. A sed possimus, velit nemo perferendis tempora inventore ratione!
Ea saepe recusandae minusLorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dicta illum aliquid at pariatur hic consectetur, repudiandae officia labore, rem quidem. A sed possimus, velit nemo perferendis tempora inventore ratione!
Ea saepe recusandae minussandae minus maiores necessitatibus. Commodi sunt illo rerum fugit nesciunt, explicabo officia placeat ducimus rem iste, voluptates, sequi atque illum exercitationem. Voluptates saepe alias ullam. Debitis, asperiores earum!</p>

{% endblock %}